@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

table{
    width: 80%;
    margin: 40px auto;
    box-shadow: 2px 2px 5px gray;
    border-spacing:5px ;
}

th{
    background-color: #167f92;
    color: white;
    font-size: 22px;
    padding: 10px;
}

th:nth-child(1),
th:nth-child(2),
th:nth-child(4)
{
    text-align: left;
}

td{
    color: #167f92;
    font-size: 22px;
    padding: 10px;
}

tr:nth-child(even) td{
    border: solid 1px #167f92;
}

tr:nth-child(odd) td{
    background-color: #168092cc;
    color: white;
}

td:nth-child(3) {
    text-align: center;
}


/* Tabla sin cabecera */

.sinCabecera{
    border-collapse: collapse;
}

.sinCabecera tr:nth-child(odd) td,
.sinCabecera tr:nth-child(even) td
{
    background-color: white;
    color: grey;
    border: none;
    border-bottom: 0.5px solid grey;
}

.sinCabecera td:nth-child(3){
    text-align: left;
}

.sinCabecera td span{
    display: flex;
    align-items: center;
}
.sinCabecera td span img{
    margin-right: 8px;
}
.sinCabecera tr:hover td{
    background-color: rgba(128, 128, 128, 0.562);
}