.borde-naranja{
    border: 1px solid orange;
}

.caja-1{
    width: 500px;
    height: 250px;
    background-color: brown;
}

.caja-2{
    width: 500px;
    background-color: burlywood;
}

.caja-3{
    width: 50%;  /* El 50% del ancho de su elemento padre*/
    height: 100px;
    background-color: aqua;
}

.cita{
    width: 80%;
    height: 80px;
    background-color: cadetblue;
    margin: 0 auto;
    font-size: 20px;
    /* overflow: hidden; Oculta el contenido desbordado */
    overflow-y: auto; /* Se mostrará el scroll solo cuando sea necesario*/
}

.responsive{
    max-width: 100%;
}

.card{
    width:33.33333%;
    min-width: 220px;
    height: 260px;
    box-shadow: 2px 2px 4px black;
    border-radius: 5px;
}