*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    border: 4px solid saddlebrown;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}
.caja{
    width: 250px;
    padding: 20px;
    background-color: aquamarine;
}
.caja p{
    font-size: 20px;
}